//estiliza calendário e seleção-------------------------------------------\\
#calendario {
    width: 300px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td {
    cursor: pointer;
  }
  

  th:first-child, td:first-child {
    background-color: #e6e6e6;
  }
  

  th:last-child, td:last-child {
    background-color: #edff9e;
  }
  

  .selected {
    background-color: #6a9c56;
    color: #fff;
  }
  

  .reserved {
    background-color: #dc3545;
    color: #fff;
  }
//---------------------------------------------------------------------------------------------\\


//separa cores antes e pós seleção--------------------------------------------------------------\\
.grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }

    .room {
        border: 1px solid black;
        padding: 10px;
        text-align: center;
        cursor: pointer;
    }

    .clicked {
        background-color: yellow;
    }

    .occupied {
        background-color: red;
    }
//---------------------------------------------------------------------------------------------\\
  
